@charset "UTF-8";
/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 7, ../sass/master.sass */
hgroup {
  display: block;
}

/* line 10, ../sass/master.sass */
html, body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* line 15, ../sass/master.sass */
body {
  font-family: "Lucida Grande";
  font-size: 12px;
  -webkit-user-select: none;
  cursor: default;
}

/* line 21, ../sass/master.sass */
body > header {
  font-family: "Lucida grande";
  font-size: 15px;
  padding: 0 10px;
  line-height: 25px;
  color: rgba(10, 10, 10, 0.7);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
}
/* line 34, ../sass/master.sass */
body > header sup {
  vertical-align: super;
  font-size: 0.7em;
}

/* line 38, ../sass/master.sass */
body > section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  overflow: auto;
}
/* line 43, ../sass/master.sass */
body > section:target {
  display: block;
}

/* line 4, ../sass/transactions/_filter.sass */
.frame-filter-bar > div {
  display: block;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(100, 100, 100, 0.4);
  padding: 0 30px;
}
/* line 12, ../sass/transactions/_filter.sass */
.frame-filter-bar > div:first-child {
  border-left: 0;
  padding-left: 0;
}
/* line 16, ../sass/transactions/_filter.sass */
.frame-filter-bar > div:last-child {
  border-right: 0;
  padding-right: 0;
}
/* line 21, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter, .frame-filter-bar .bindstatus-filter, .frame-filter-bar .details-switch {
  padding-right: 22px;
}
/* line 24, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter ol, .frame-filter-bar .bindstatus-filter ol, .frame-filter-bar .details-switch ol {
  margin-top: -2px;
  margin-left: 6px;
  vertical-align: 1px;
}
/* line 29, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter ol li, .frame-filter-bar .bindstatus-filter ol li, .frame-filter-bar .details-switch ol li {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  line-height: 12px;
  color: #444444;
  font-weight: bold;
  padding: 0;
  text-align: center;
}
/* line 37, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter ol li:hover, .frame-filter-bar .bindstatus-filter ol li:hover, .frame-filter-bar .details-switch ol li:hover {
  -moz-box-shadow: #eeeeee 0px 1px 0px 0;
  -webkit-box-shadow: #eeeeee 0px 1px 0px 0;
  -o-box-shadow: #eeeeee 0px 1px 0px 0;
  box-shadow: #eeeeee 0px 1px 0px 0;
  background: #888888;
  color: white;
  text-shadow: 0 1px 0 #666666;
  font-weight: normal;
}
/* line 44, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter ol li.active, .frame-filter-bar .bindstatus-filter ol li.active, .frame-filter-bar .details-switch ol li.active {
  -moz-box-shadow: #eeeeee 0px 1px 0px 0;
  -webkit-box-shadow: #eeeeee 0px 1px 0px 0;
  -o-box-shadow: #eeeeee 0px 1px 0px 0;
  box-shadow: #eeeeee 0px 1px 0px 0;
  background: #666666;
  color: white;
  text-shadow: 0 1px 0 #333333;
  font-weight: normal;
}
/* line 51, ../sass/transactions/_filter.sass */
.frame-filter-bar .flags-filter ol li a, .frame-filter-bar .bindstatus-filter ol li a, .frame-filter-bar .details-switch ol li a {
  padding: 3px 8px;
  text-decoration: none;
  color: inherit;
  display: block;
}
/* line 59, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter > strong {
  display: inline-block;
}
/* line 62, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div {
  display: inline-block;
  position: relative;
  margin-top: -2px;
  height: 20px;
}
/* line 68, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div button {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(20%, #e6e6e6), color-stop(50%, #d9d9d9), color-stop(50%, #c9c9c9), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #e6e6e6 20%, #d9d9d9 50%, #c9c9c9 50%, #eeeeee 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #e6e6e6 20%, #d9d9d9 50%, #c9c9c9 50%, #eeeeee 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  line-height: 1em;
  margin: 0 10px;
  color: #333333;
  position: relative;
  z-index: 101;
}
/* line 80, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div button:after {
  content: " ▾";
}
/* line 83, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div button:focus {
  outline: none;
}
/* line 86, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div button:focus:not(:active) {
  border-color: #6588a9;
  -moz-box-shadow: #6fa3d3 0 0 4px 0;
  -webkit-box-shadow: #6fa3d3 0 0 4px 0;
  -o-box-shadow: #6fa3d3 0 0 4px 0;
  box-shadow: #6fa3d3 0 0 4px 0;
}
/* line 90, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div:not(.open) button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e3e3e3), color-stop(20%, #d9d9d9), color-stop(50%, #d0d0d0), color-stop(50%, #c0c0c0), color-stop(100%, #e3e3e3));
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #d9d9d9 20%, #d0d0d0 50%, #c0c0c0 50%, #e3e3e3 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #d9d9d9 20%, #d0d0d0 50%, #c0c0c0 50%, #e3e3e3 100%);
  border-color: #888888;
  color: black;
  -moz-box-shadow: rgba(100, 100, 100, 0.3) 0 0 4px 0;
  -webkit-box-shadow: rgba(100, 100, 100, 0.3) 0 0 4px 0;
  -o-box-shadow: rgba(100, 100, 100, 0.3) 0 0 4px 0;
  box-shadow: rgba(100, 100, 100, 0.3) 0 0 4px 0;
}
/* line 96, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div button:active, .frame-filter-bar .conversation-filter div.open button {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6d6d6), color-stop(20%, #c9c9c9), color-stop(50%, #cccccc), color-stop(50%, #b6b6b6), color-stop(100%, #b9b9b9));
  background-image: -moz-linear-gradient(top, #d6d6d6 0%, #c9c9c9 20%, #cccccc 50%, #b6b6b6 50%, #b9b9b9 100%);
  background-image: linear-gradient(top, #d6d6d6 0%, #c9c9c9 20%, #cccccc 50%, #b6b6b6 50%, #b9b9b9 100%);
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.3);
  border-color: #999999;
}
/* line 101, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div.open ol {
  display: block;
}
/* line 104, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div.open button {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
/* line 108, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(20%, #eeeeee), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #b9b9b9 0%, #eeeeee 20%, #eeeeee 100%);
  background-image: linear-gradient(top, #b9b9b9 0%, #eeeeee 20%, #eeeeee 100%);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1px 0 5px;
  z-index: 100;
  display: none;
  position: absolute;
  left: 10px;
  margin-top: -1px;
  width: 170px;
  border: 1px solid #999999;
}
/* line 120, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li {
  font-size: 11px;
  font-size-position: relative;
}
/* line 124, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li input {
  position: absolute;
}
/* line 127, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li input {
  display: none;
}
/* line 130, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li input + label:before {
  content: "✓";
  padding: 0 0.48em 0 0.3em;
  text-align: center;
  visibility: hidden;
}
/* line 136, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li input:checked + label:before {
  visibility: visible;
}
/* line 139, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li:hover {
  background: rgba(100, 100, 100, 0.2);
}
/* line 142, ../sass/transactions/_filter.sass */
.frame-filter-bar .conversation-filter div ol li label {
  display: block;
  padding: 2px 6px 2px 6px;
}

/* line 3, ../sass/_navigation.sass */
body > nav {
  display: block;
  height: 70px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #7a7a7a;
  background: url(../images/tabbar-front.png) repeat-x;
}
/* line 12, ../sass/_navigation.sass */
body > nav ul:first-child {
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cfcfcf), color-stop(50%, #c2c2c2), color-stop(100%, #b0b0b0));
  background-image: -moz-linear-gradient(top, #cfcfcf 0%, #c2c2c2 50%, #b0b0b0 100%);
  background-image: linear-gradient(top, #cfcfcf 0%, #c2c2c2 50%, #b0b0b0 100%);
  border-bottom: 1px solid #8c8c8c;
  height: 34px;
  padding: 9px 40px 0;
}
/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > nav ul:first-child:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 20, ../sass/_navigation.sass */
body > nav ul:first-child li {
  display: block;
  position: relative;
  background-image: url(../images/tab-left-inactive.png), url(../images/tab-middle.png), url(../images/tab-right-inactive.png);
  background-repeat: no-repeat;
  background-size: 19px 26px, 112px 24px, 19px 26px;
  background-position: 0 0, 50% 0, 100% 0;
  float: left;
  height: 24px;
  width: 150px;
}
/* line 31, ../sass/_navigation.sass */
body > nav ul:first-child li:not(:first-child) {
  margin-left: -17px;
}
/* line 34, ../sass/_navigation.sass */
body > nav ul:first-child li:hover {
  background-image: url(../images/tab-left-hover.png), url(../images/tab-middle-hover.png), url(../images/tab-right-hover.png);
}
/* line 37, ../sass/_navigation.sass */
body > nav ul:first-child li.active {
  background-image: url(../images/tab-left-active.png), url(../images/tab-middle-active.png), url(../images/tab-right-active.png);
  background-size: 19px 26px, 112px 60px, 19px 26px;
  z-index: 100;
  margin-bottom: -2px;
  height: 26px;
}
/* line 44, ../sass/_navigation.sass */
body > nav ul:first-child li.active a {
  text-shadow: 0 1px 0 white;
}
/* line 47, ../sass/_navigation.sass */
body > nav ul:first-child a {
  color: black;
  line-height: 26px;
  font-size: 11px;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding: 0 22px;
}
/* line 56, ../sass/_navigation.sass */
body > nav ul:nth-child(2) {
  margin: 4px 20px;
  text-shadow: 0 1px 0 white;
}
/* line 60, ../sass/_navigation.sass */
body > nav ul:nth-child(2) > li {
  padding: 5px 0;
  line-height: 19px;
  display: none;
}
/* line 65, ../sass/_navigation.sass */
body > nav ul:nth-child(2) > li.frame-filter-bar {
  display: block;
}

/* line 2, ../sass/transactions/_flags.sass */
.bubbles {
  display: inline-block;
  margin: 0 0;
  -webkit-user-select: none;
  cursor: default;
}
/* line 8, ../sass/transactions/_flags.sass */
.bubbles li {
  text-align: center;
  line-height: 10px;
  min-width: 35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  -khtml-border-radius: 40px;
  border-radius: 40px;
  text-shadow: 1px 1px 0px white;
  font-size: 10px;
  display: inline-block;
  padding: 2px 8px;
}

/* line 20, ../sass/transactions/_flags.sass */
.flags li {
  vertical-align: 1px;
  color: #4870a9;
  background: #dff0ff;
  -moz-box-shadow: rgba(193, 215, 233, 0.9) 0px 1px 0px 0;
  -webkit-box-shadow: rgba(193, 215, 233, 0.9) 0px 1px 0px 0;
  -o-box-shadow: rgba(193, 215, 233, 0.9) 0px 1px 0px 0;
  box-shadow: rgba(193, 215, 233, 0.9) 0px 1px 0px 0;
}

/* line 26, ../sass/transactions/_flags.sass */
.type li {
  vertical-align: 0px;
  color: white;
  background: #4870a9;
  text-shadow: 0 1px 0 #1d466b;
  font-family: "Lucida Grande";
  font-size: 13px;
  padding: 2px 0;
  -moz-box-shadow: rgba(29, 70, 107, 0.9) 0px 1px 0px 0;
  -webkit-box-shadow: rgba(29, 70, 107, 0.9) 0px 1px 0px 0;
  -o-box-shadow: rgba(29, 70, 107, 0.9) 0px 1px 0px 0;
  box-shadow: rgba(29, 70, 107, 0.9) 0px 1px 0px 0;
}
/* line 36, ../sass/transactions/_flags.sass */
.type li.exc {
  vertical-align: 1px;
  font-size: 10px;
}
/* line 40, ../sass/transactions/_flags.sass */
.type li.res {
  margin-right: 102px;
}

/* line 43, ../sass/transactions/_flags.sass */
.semantics {
  min-width: 95px;
}
/* line 46, ../sass/transactions/_flags.sass */
.semantics li {
  vertical-align: 1px;
  color: #e2f8d2;
  background: #41962e;
  text-shadow: 0 1px 0 #136400;
  -moz-box-shadow: #136400 0px 1px 0px 0;
  -webkit-box-shadow: #136400 0px 1px 0px 0;
  -o-box-shadow: #136400 0px 1px 0px 0;
  box-shadow: #136400 0px 1px 0px 0;
}

/* line 3, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child code {
  padding-left: 10px;
  color: #888888;
}
/* line 7, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .details {
  display: none;
}
/* line 10, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .codehilite, .transactions > tbody > tr > td:last-child .payload {
  cursor: auto;
  -webkit-user-select: text;
  background: #f3f3f3;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 8px -7px 0;
  padding: 8px 7px 8px 10px;
  line-height: 1.3em;
}
/* line 20, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .codehilite:before, .transactions > tbody > tr > td:last-child .payload:before {
  -webkit-user-select: none;
  float: right;
  line-height: 19px;
  color: #aaaaaa;
  font-size: 9px;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
  content: "Decoded frame";
}
/* line 31, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .payload {
  color: #555555;
  line-height: 1.5em;
}
/* line 35, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .payload span {
  padding-bottom: 10px;
  display: block;
}
/* line 39, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .payload span:last-child {
  display: inline;
}
/* line 42, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .payload:before {
  content: "Original payload";
}
/* line 45, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .actors {
  margin-top: 8px;
}
/* line 48, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .actors span {
  color: #777777;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 53, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .actors span:nth-child(3):before {
  font-family: "Lucida Grande";
  font-size: 1.2em;
  color: #cccccc;
  content: "\2003→\2003 \2003";
}
/* line 59, ../sass/transactions/_details.sass */
.transactions > tbody > tr > td:last-child .actors strong {
  cursor: auto;
  -webkit-user-select: text;
  padding: 0 10px 0 5px;
}

/* line 65, ../sass/transactions/_details.sass */
.transactions > tbody > tr.details th, .transactions > tbody > tr.details td {
  background: 0 !important;
}
/* line 68, ../sass/transactions/_details.sass */
.transactions > tbody > tr.details + tr th, .transactions > tbody > tr.details + tr td, .transactions > tbody > tr.details th, .transactions > tbody > tr.details td {
  border-top-color: #aaaaaa !important;
}

/* line 71, ../sass/transactions/_details.sass */
.transactions > tbody > tr.details > td:last-child {
  background: 0 !important;
}
/* line 74, ../sass/transactions/_details.sass */
.transactions > tbody > tr.details > td:last-child .details {
  display: block;
}

/* line 78, ../sass/transactions/_details.sass */
.transactions > tbody > tr:hover > td:last-child code {
  color: #444444;
}
/* line 81, ../sass/transactions/_details.sass */
.transactions > tbody > tr:hover > td:last-child code:after {
  content: " \2003 — \2003 Show details";
  text-shadow: 0 1px 0 white;
  color: #888888;
  font-size: 0.8em;
  font-family: "Lucida Grande";
}

/* line 89, ../sass/transactions/_details.sass */
.transactions > tbody > tr.details:hover > td:last-child code:after {
  content: " \2003 — \2003 Hide details";
}

/* line 4, ../sass/transactions/_transactions.sass */
.transactions {
  border-collapse: collapse;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 107px;
  position: relative;
  background-image: url(../images/port-pointer.png), url(../images/port-line.png);
  background-position-y: 179px;
  background-position-x: -62px;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat-y;
  /* FILTERS */
}
/* line 18, ../sass/transactions/_transactions.sass */
.transactions thead {
  position: fixed;
  left: 0;
  top: 72px;
  margin-right: 15px;
  background: white url(../images/port-bottom.png) repeat-x bottom left;
}
/* line 28, ../sass/transactions/_transactions.sass */
.transactions thead tr th:first-child {
  border-right: 1px solid #999999;
}
/* line 30, ../sass/transactions/_transactions.sass */
.transactions thead tr th:first-child span {
  display: block;
  width: 55px;
}
/* line 34, ../sass/transactions/_transactions.sass */
.transactions thead tr td:last-child {
  width: 100%;
}
/* line 37, ../sass/transactions/_transactions.sass */
.transactions thead tr:first-child th:not(:first-child) {
  padding: 5px 10px;
  border: 1px solid #999999;
  border-top: 0;
  background: white;
}
/* line 43, ../sass/transactions/_transactions.sass */
.transactions thead th:not(:first-child) {
  text-align: center;
  border-right: 1px solid #999999;
}
/* line 47, ../sass/transactions/_transactions.sass */
.transactions thead th:not(:first-child).port {
  height: 83px;
  vertical-align: bottom;
  padding-bottom: 20px;
  padding-right: 1px;
  font-family: "Espresso Mono";
  color: #888888;
  text-shadow: 0 1px 0 white;
  font-size: 11px;
}
/* line 57, ../sass/transactions/_transactions.sass */
.transactions thead th:not(:first-child).port span {
  width: 24px;
  display: block;
  text-align: left;
  -webkit-transform: rotate(-90deg);
}
/* line 63, ../sass/transactions/_transactions.sass */
.transactions thead th:not(:first-child).port.hover, .transactions thead th:not(:first-child).port.active {
  color: #555555;
  background: url(../images/port.png) no-repeat;
  cursor: default;
}
/* line 68, ../sass/transactions/_transactions.sass */
.transactions th, .transactions td {
  padding: 0;
}
/* line 74, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr.placeholder > td {
  width: 25px;
  border-right: 1px solid #999999;
  padding: 0;
}
/* line 79, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr.placeholder > td:last-child {
  border-right: 0;
}
/* line 82, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr.placeholder > td span {
  margin: 0;
  padding: 0;
  height: 0;
  width: 25px;
  display: block;
}
/* line 91, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder):hover > td, .transactions > tbody > tr:not(.placeholder):hover > th:first-child {
  background: rgba(200, 200, 200, 0.3);
}
/* line 94, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder) > td, .transactions > tbody > tr:not(.placeholder) > th {
  vertical-align: middle;
  border-top: 1px solid #cccccc;
}
/* line 98, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder) > td:not(.before):not(.after):not(:last-child), .transactions > tbody > tr:not(.placeholder) > th:not(.before):not(.after):not(:last-child) {
  padding: 5px 12px 5px 13px;
}
/* line 101, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder) > th {
  vertical-align: middle;
  border-right: 1px solid #999999;
  padding-top: 8px !important;
}
/* line 106, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder) > th span {
  display: block;
  width: 30px;
  text-align: right;
}
/* line 111, ../sass/transactions/_transactions.sass */
.transactions > tbody > tr:not(.placeholder) > td:last-child {
  border-left: 1px solid #999999;
  cursor: default;
  width: 100%;
  color: #444444;
  padding: 8px 7px;
  font-family: "Espresso Mono";
}
/* line 119, ../sass/transactions/_transactions.sass */
.transactions .transaction span {
  display: block;
  background-repeat: repeat-x, no-repeat;
  height: 5px;
  margin: 8px 0;
}
/* line 125, ../sass/transactions/_transactions.sass */
.transactions .rtl .transaction span {
  background-image: url(../images/flow-line.png), url(../images/flow-left.png);
}
/* line 128, ../sass/transactions/_transactions.sass */
.transactions .ltr .transaction span {
  background-image: url(../images/flow-line.png), url(../images/flow-right.png);
  background-position: center right;
}
/* line 135, ../sass/transactions/_transactions.sass */
.transactions.no-ack .ack-only, .transactions.push-only .syn2, .transactions.push-only .fin1,
.transactions .hidden,
.transactions .bindstatus-hidden {
  display: none !important;
}
/* line 144, ../sass/transactions/_transactions.sass */
.transactions .smart.bindstatus-request .transaction span {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(155, 187, 150, 0.9) 0px 1px 0px 0;
  -webkit-box-shadow: rgba(155, 187, 150, 0.9) 0px 1px 0px 0;
  -o-box-shadow: rgba(155, 187, 150, 0.9) 0px 1px 0px 0;
  box-shadow: rgba(155, 187, 150, 0.9) 0px 1px 0px 0;
  background-color: #b4e5a4;
  background-image: url(../images/bindstatus-right.png), url(../images/bindstatus-left.png), url(../images/bindstatus-line.png);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 100% 50%, 0 50%, 0 50%;
  margin: 3px 0 3px 0;
  height: 15px;
  text-align: center;
}
/* line 157, ../sass/transactions/_transactions.sass */
.transactions .smart.bindstatus-request .transaction span:after {
  content: "BindStatus";
  display: inline-block;
  padding: 0 4px;
  line-height: 15px;
  background: #b4e5a4;
  color: #396b33;
  font-size: 9px;
  text-shadow: 0 1px 0 white;
}
/* line 167, ../sass/transactions/_transactions.sass */
.transactions .smart.syn1, .transactions .smart.fin2, .transactions .smart.bindstatus-response {
  display: none;
}
/* line 173, ../sass/transactions/_transactions.sass */
.transactions .smart.syn2 .transaction span, .transactions .smart.fin1 .transaction span {
  opacity: 1;
  margin: 6px 0 5px 0;
  height: 10px;
  background: 0;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 0, 100% 0, 0 0;
}
/* line 183, ../sass/transactions/_transactions.sass */
.transactions .smart.syn2.rtl .transaction span {
  background-image: url(../images/syn-start.png), url(../images/syn-end.png), url(../images/syn-ltr.png);
}
/* line 186, ../sass/transactions/_transactions.sass */
.transactions .smart.syn2.ltr .transaction span {
  background-image: url(../images/syn-start.png), url(../images/syn-end.png), url(../images/syn-rtl.png);
}
/* line 189, ../sass/transactions/_transactions.sass */
.transactions .smart.fin1.rtl .transaction span {
  background-image: url(../images/fin-start.png), url(../images/fin-end.png), url(../images/fin-rtl.png);
}
/* line 192, ../sass/transactions/_transactions.sass */
.transactions .smart.fin1.ltr .transaction span {
  background-image: url(../images/fin-start.png), url(../images/fin-end.png), url(../images/fin-ltr.png);
}
