/* line 2, ../../sass/pygments/pastie.sass */
.codehilite .hll {
  background-color: #ffffcc;
}
/* line 4, ../../sass/pygments/pastie.sass */
.codehilite .c {
  color: #888888;
}
/* line 7, ../../sass/pygments/pastie.sass */
.codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 11, ../../sass/pygments/pastie.sass */
.codehilite .k {
  color: #008800;
  font-weight: bold;
}
/* line 15, ../../sass/pygments/pastie.sass */
.codehilite .cm {
  color: #888888;
}
/* line 18, ../../sass/pygments/pastie.sass */
.codehilite .cp {
  color: #cc0000;
  font-weight: bold;
}
/* line 22, ../../sass/pygments/pastie.sass */
.codehilite .c1 {
  color: #888888;
}
/* line 25, ../../sass/pygments/pastie.sass */
.codehilite .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}
/* line 30, ../../sass/pygments/pastie.sass */
.codehilite .gd {
  color: black;
  background-color: #ffdddd;
}
/* line 34, ../../sass/pygments/pastie.sass */
.codehilite .ge {
  font-style: italic;
}
/* line 37, ../../sass/pygments/pastie.sass */
.codehilite .gr {
  color: #aa0000;
}
/* line 40, ../../sass/pygments/pastie.sass */
.codehilite .gh {
  color: #303030;
}
/* line 43, ../../sass/pygments/pastie.sass */
.codehilite .gi {
  color: black;
  background-color: #ddffdd;
}
/* line 47, ../../sass/pygments/pastie.sass */
.codehilite .go {
  color: #888888;
}
/* line 50, ../../sass/pygments/pastie.sass */
.codehilite .gp {
  color: #555555;
}
/* line 53, ../../sass/pygments/pastie.sass */
.codehilite .gs {
  font-weight: bold;
}
/* line 56, ../../sass/pygments/pastie.sass */
.codehilite .gu {
  color: #606060;
}
/* line 59, ../../sass/pygments/pastie.sass */
.codehilite .gt {
  color: #aa0000;
}
/* line 62, ../../sass/pygments/pastie.sass */
.codehilite .kc {
  color: #008800;
  font-weight: bold;
}
/* line 66, ../../sass/pygments/pastie.sass */
.codehilite .kd {
  color: #008800;
  font-weight: bold;
}
/* line 70, ../../sass/pygments/pastie.sass */
.codehilite .kn {
  color: #008800;
  font-weight: bold;
}
/* line 74, ../../sass/pygments/pastie.sass */
.codehilite .kp {
  color: #008800;
}
/* line 77, ../../sass/pygments/pastie.sass */
.codehilite .kr {
  color: #008800;
  font-weight: bold;
}
/* line 81, ../../sass/pygments/pastie.sass */
.codehilite .kt {
  color: #888888;
  font-weight: bold;
}
/* line 85, ../../sass/pygments/pastie.sass */
.codehilite .m {
  color: #0000dd;
  font-weight: bold;
}
/* line 89, ../../sass/pygments/pastie.sass */
.codehilite .s {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 93, ../../sass/pygments/pastie.sass */
.codehilite .na {
  color: #336699;
}
/* line 96, ../../sass/pygments/pastie.sass */
.codehilite .nb {
  color: #003388;
}
/* line 99, ../../sass/pygments/pastie.sass */
.codehilite .nc {
  color: #bb0066;
  font-weight: bold;
}
/* line 103, ../../sass/pygments/pastie.sass */
.codehilite .no {
  color: #003366;
  font-weight: bold;
}
/* line 107, ../../sass/pygments/pastie.sass */
.codehilite .nd {
  color: #555555;
}
/* line 110, ../../sass/pygments/pastie.sass */
.codehilite .ne {
  color: #bb0066;
  font-weight: bold;
}
/* line 114, ../../sass/pygments/pastie.sass */
.codehilite .nf {
  color: #0066bb;
  font-weight: bold;
}
/* line 118, ../../sass/pygments/pastie.sass */
.codehilite .nl {
  color: #336699;
  font-style: italic;
}
/* line 122, ../../sass/pygments/pastie.sass */
.codehilite .nn {
  color: #bb0066;
  font-weight: bold;
}
/* line 126, ../../sass/pygments/pastie.sass */
.codehilite .py {
  color: #336699;
  font-weight: bold;
}
/* line 130, ../../sass/pygments/pastie.sass */
.codehilite .nt {
  color: #bb0066;
  font-weight: bold;
}
/* line 134, ../../sass/pygments/pastie.sass */
.codehilite .nv {
  color: #336699;
}
/* line 137, ../../sass/pygments/pastie.sass */
.codehilite .ow {
  color: #008800;
}
/* line 140, ../../sass/pygments/pastie.sass */
.codehilite .w {
  color: #bbbbbb;
}
/* line 143, ../../sass/pygments/pastie.sass */
.codehilite .mf {
  color: #0000dd;
  font-weight: bold;
}
/* line 147, ../../sass/pygments/pastie.sass */
.codehilite .mh {
  color: #0000dd;
  font-weight: bold;
}
/* line 151, ../../sass/pygments/pastie.sass */
.codehilite .mi {
  color: #0000dd;
  font-weight: bold;
}
/* line 155, ../../sass/pygments/pastie.sass */
.codehilite .mo {
  color: #0000dd;
  font-weight: bold;
}
/* line 159, ../../sass/pygments/pastie.sass */
.codehilite .sb {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 163, ../../sass/pygments/pastie.sass */
.codehilite .sc {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 167, ../../sass/pygments/pastie.sass */
.codehilite .sd {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 171, ../../sass/pygments/pastie.sass */
.codehilite .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 175, ../../sass/pygments/pastie.sass */
.codehilite .se {
  color: #0044dd;
  background-color: #fff0f0;
}
/* line 179, ../../sass/pygments/pastie.sass */
.codehilite .sh {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 183, ../../sass/pygments/pastie.sass */
.codehilite .si {
  color: #3333bb;
  background-color: #fff0f0;
}
/* line 187, ../../sass/pygments/pastie.sass */
.codehilite .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
/* line 191, ../../sass/pygments/pastie.sass */
.codehilite .sr {
  color: #008800;
  background-color: #fff0ff;
}
/* line 195, ../../sass/pygments/pastie.sass */
.codehilite .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
/* line 199, ../../sass/pygments/pastie.sass */
.codehilite .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
/* line 203, ../../sass/pygments/pastie.sass */
.codehilite .bp {
  color: #003388;
}
/* line 206, ../../sass/pygments/pastie.sass */
.codehilite .vc {
  color: #336699;
}
/* line 209, ../../sass/pygments/pastie.sass */
.codehilite .vg {
  color: #dd7700;
}
/* line 212, ../../sass/pygments/pastie.sass */
.codehilite .vi {
  color: #3333bb;
}
/* line 215, ../../sass/pygments/pastie.sass */
.codehilite .il {
  color: #0000dd;
  font-weight: bold;
}
